!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en", "data-ready" => "waiting", "data-overflow" => "scrollable"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#home

		#svgInject.visuallyhidden
			/ inject:svg
			/ endinject

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			= Haml::Engine.new(File.read("dev/haml/partials/_nav_categories.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_html_isotope.haml")).render
			-# = Haml::Engine.new(File.read("dev/haml/partials/_temp_modal-youtube.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render