!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		#svgInject
			/ inject:svg
			/ endinject

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main", "data-container" => "width_1640"}

			-# "data-mobile" currently not used for anything (could use data-device = mobile/desktop)
			%nav#nav_categories.nav_categories{"data-dropdown" => "list", "data-selected" => "Curated", "data-mobile" => true}

				%a#cat_trigger.cat_trigger{:href => "#", :title => "Click To Select Category"}
					%span.cat_label.truncate Curated
					#cat_icon.cat_icon
					-# %svg.wrap_svg{:viewBox => "0 0 88 14"}
						-# %use{"xlink:href" => "#ui_arrow"}

				%ul
					%li
						%a.cat_link.selected{:href => "#", :title => "All", "data-filter" => "*"} All
					%li
						%a.cat_link{:href => "#", :title => "Curated", "data-filter" => ".curated"} Curated
					%li
						%a.cat_link{:href => "#", :title => "Apps", "data-filter" => ".apps"} Apps
					%li
						%a.cat_link{:href => "#", :title => "Apparel", "data-filter" => ".apparel"} Apparel
					%li
						%a.cat_link{:href => "#", :title => "Automotive", "data-filter" => ".automotive"} Automotive
					%li
						%a.cat_link{:href => "#", :title => "Fashion", "data-filter" => ".fashion"} Fashion
					%li
						%a.cat_link{:href => "#", :title => "Film", "data-filter" => ".film"} Film
					%li
						%a.cat_link{:href => "#", :title => "Food & Drink", "data-filter" => ".food-drink"} Food & Drink
					%li
						%a.cat_link{:href => "#", :title => "Internet", "data-filter" => ".internet"} Internet
					%li
						%a.cat_link{:href => "#", :title => "Lifestyle", "data-filter" => ".lifestyle"} Lifestyle
					%li
						%a.cat_link{:href => "#", :title => "Money", "data-filter" => ".money"} Money
					%li
						%a.cat_link{:href => "#", :title => "Photography", "data-filter" => ".photography"} Photography
					%li
						%a.cat_link{:href => "#", :title => "Solutions", "data-filter" => ".solutions"} Solutions
					%li
						%a.cat_link{:href => "#", :title => "TV Commercials", "data-filter" => ".tv-comms"} TV Commercials
					%li
						%a.cat_link{:href => "#", :title => "Video", "data-filter" => ".video"} Video

			%section#iso_container.iso_container

				.iso_sizer
				.iso_gutter

				-# create HAML Array, push to array certain values based on iteration, spit out space separated values

				- (1..18).each do |i|

					- if i % 2 == 0
						- strIsoTitle = 'Even Number / Company Name on Multiple Lines #'
						- strClasses = 'apps'
						- if i == 4 || i == 6 || i == 8
							- strClasses += ' curated'
						- elsif i == 10 || i == 12
							- strClasses += ' apparel'
						- else
							- strClasses += ' automotive'
					- else
						- strIsoTitle = 'Odd Number / Company Name #'
						- strClasses = 'food-drink'
						- if i == 3 || i == 5 || i == 7
							- strClasses += ' curated'
						- elsif i == 9 || i == 11
							- strClasses += ' fashion'
						- else
							- strClasses += ' film'

					%article{:id => "post_#{i}", :class => "iso_brick #{strClasses}"}
						%a.iso_link{:href => "#", :title => "Company Name #{i}"}
							.wrap_iso-image
								%img.iso_image{:src => "assets/img/iso_image.jpg", :alt => ""}
								.wrap_iso-title
									.wrap_txt-center
										%h3.iso_title "#{strIsoTitle}#{i}"
							.iso_logo
								%img.iso_logo-off{:src => "assets/img/iso_logo-off.png", :alt => ""}
								%img.iso_logo-on{:src => "assets/img/iso_logo-on.png", :alt => ""}

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render