!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en", "data-ready" => "waiting", "data-overflow" => "scrollable"}<>
	<!--<![endif]-->

	-# are we using data-ready and data-overflow?

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		#svgInject
			/ inject:svg
			/ endinject

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main", "data-container" => "width_1640"}

			-# 'data-mobile' currently not used for anything (could use data-device = mobile/desktop)
			-# 'data-animated' used to apply visible .selected styles once the list items have finished animating

			-# if: "All" or "Curated" (.color_rainbow), 'data-color' => 'random'
			-# otherwise: 'data-color' = color array
			%nav#nav_categories.nav_categories{"data-dropdown" => "list", "data-selected" => ".curated", "data-color" => "random", "data-animated" => "animating"}

				%a#cat_trigger.cat_trigger{:href => "#", :title => "Click To Select Category"}
					%span.cat_label.truncate Curated
					#cat_icon.cat_icon
					-# %svg.wrap_svg{:viewBox => "0 0 88 14"}
						-# %use{"xlink:href" => "#ui_arrow"}

				%ul
					%li
						%a.cat_link.color_rainbow{:href => "#", :title => "All", "data-color" => "random", "data-filter" => "*"} All
					%li
						%a.cat_link.color_rainbow.selected{:href => "#", :title => "Curated", "data-color" => "random", "data-filter" => ".curated"} Curated
					%li
						%a.cat_link.color_solid.color_red{:href => "#", :title => "Apps", "data-color" => "red", "data-filter" => ".apps"} Apps
					%li
						%a.cat_link.color_solid.color_orange{:href => "#", :title => "Apparel", "data-color" => "orange", "data-filter" => ".apparel"} Apparel
					%li
						%a.cat_link.color_solid.color_yellow{:href => "#", :title => "Automotive", "data-color" => "yellow", "data-filter" => ".automotive"} Automotive
					%li
						%a.cat_link.color_solid.color_aqua{:href => "#", :title => "Fashion", "data-color" => "aqua", "data-filter" => ".fashion"} Fashion
					%li
						%a.cat_link.color_solid.color_cyan{:href => "#", :title => "Film", "data-color" => "cyan", "data-filter" => ".film"} Film
					%li
						%a.cat_link.color_solid.color_red{:href => "#", :title => "Food & Drink", "data-color" => "red", "data-filter" => ".food-drink"} Food & Drink
					%li
						%a.cat_link.color_solid.color_orange{:href => "#", :title => "Internet", "data-color" => "orange", "data-filter" => ".curated"} Internet
					%li
						%a.cat_link.color_solid.color_yellow{:href => "#", :title => "Lifestyle", "data-color" => "yellow", "data-filter" => ".apps"} Lifestyle
					%li
						%a.cat_link.color_solid.color_aqua{:href => "#", :title => "Money", "data-color" => "aqua", "data-filter" => ".apparel"} Money
					%li
						%a.cat_link.color_solid.color_cyan{:href => "#", :title => "Photography", "data-color" => "cyan", "data-filter" => ".automotive"} Photography
					%li
						%a.cat_link.color_solid.color_red{:href => "#", :title => "Solutions", "data-color" => "red", "data-filter" => ".fashion"} Solutions
					%li
						%a.cat_link.color_solid.color_orange{:href => "#", :title => "TV Commercials", "data-color" => "orange", "data-filter" => ".film"} TV Commercials
					%li
						%a.cat_link.color_solid.color_yellow{:href => "#", :title => "Video", "data-color" => "yellow", "data-filter" => ".food-drink"} Video

			%section#iso_container.iso_container{"data-color" => "random"}

				.iso_sizer
				.iso_gutter

				- arrProjects = ['aereo', 'aeropress', 'airbnb-host', 'airbnb', 'being-geek', 'big-jambox', 'birdhouse', 'boku', 'bump']
				- numProjects = 0
				- numAdjustedLength = arrProjects.length - 1
				- strCurrentProject = arrProjects[numProjects]

				- (1..42).each do |i|

					- if i % 2 == 0
						- strIsoTitle = 'Even Number / Company Name on Multiple Lines #'
						- strClasses = 'apps'
						- if i == 4 || i == 8 || i == 16 || i == 24 || i == 36 || i == 42
							- strClasses += ' curated'
						- elsif i == 10 || i == 12 || i == 14 || i == 20 || i == 32 || i == 40
							- strClasses += ' apparel'
						- else
							- strClasses += ' automotive'
					- else
						- strIsoTitle = 'Odd Number / Company Name #'
						- strClasses = 'food-drink'
						- if i == 3 || i == 7 || i == 13 || i == 21 || i == 27 || i == 39
							- strClasses += ' curated'
						- elsif i == 9 || i == 11 || i == 17 || i == 19 || i == 31 || i == 35
							- strClasses += ' fashion'
						- else
							- strClasses += ' film'

					-# apply 'color_random' class to a.iso_link for cycleLinkColors()
					%article{:id => "post_#{i}", :class => "iso_brick #{strClasses}"}
						%a.iso_link.color_random{:href => "#", :title => "Company Name #{i}"}
							.wrap_iso-image
								%img.iso_image{:src => "assets/img/thumb_#{strCurrentProject}.jpg", :alt => ""}
								.wrap_iso-title
									.wrap_txt-center
										%h3.iso_title "#{strIsoTitle}#{i}"
							.iso_logo
								%img.iso_logo-off{:src => "assets/img/iso_logo-off.png", :alt => ""}
								%img.iso_logo-on{:src => "assets/img/iso_logo-on.png", :alt => ""}

					- if numProjects < numAdjustedLength
						- numProjects += 1
					- else
						- numProjects = 0

					- strCurrentProject = arrProjects[numProjects]

				#iso_loader.iso_loader.visible
					.wrap_svg
						%svg.ui_loader
							%use{"xlink:href" => "#ui_loader"}

				.temp_images.visuallyhidden
					%img{:src => "assets/img/temp_01.jpg", :alt => ""}
					%img{:src => "assets/img/temp_02.jpg", :alt => ""}
					%img{:src => "assets/img/temp_03.png", :alt => ""}
					%img{:src => "assets/img/temp_04.png", :alt => ""}

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render